/* ----- style.css ----- */

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');


  
    body {
      background-color: #1D4F58;
      font-family: 'Bree Serif', serif;

    }

    header{
      background-color: #184145;
      margin-top: -20px ;
      text-align: center;
      padding: 10px;
    
      }

    main{
        max-width: 1200px;
        display: grid;
        

    }

    .map-mexico{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .first-title{
      color: #64e4f3;

    }
    

    


    svg path {
      fill: #DADA5E;
      stroke: #7EAD0E;
      stroke-width: .95;
      
      
    }
    
    svg path:hover {
      fill: #006284;
      transition: 0.6s;
      cursor: pointer;
    }


    #hover-dialog {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      /* add other styles to customize the hover dialog */
    }


    .volume-bar-container{
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      
    
    }